{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ export }}" data-toggle="tooltip" title="{{ button_export }}" class="btn btn-danger" style="margin-right: 5px">
          <i class="fa fa-file-o"></i>
        </a>
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-eik">{{ entry_eik }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_nra_eik" value="{{ module_nra_eik }}" placeholder="{{ entry_eik }}" id="input-eik" class="form-control" />
              {% if error_nra_eik %}
                <div class="text-danger">{{ error_nra_eik }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-shop_id">{{ entry_shop_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_nra_shop_id" value="{{ module_nra_shop_id }}" placeholder="{{ entry_shop_id }}" id="input-shop_id" class="form-control" />
              {% if error_nra_shop_id %}
                <div class="text-danger">{{ error_nra_shop_id }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_marketplace }}">{{ entry_marketplace }}</span></label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if module_nra_is_marketplace %}
                  <input type="radio" name="module_nra_is_marketplace" value="1" checked="checked" />
                  {{ text_yes }}
                {% else %}
                  <input type="radio" name="module_nra_is_marketplace" value="1" />
                  {{ text_yes }}
                {% endif %}
              </label>
              <label class="radio-inline">
                {% if not module_nra_is_marketplace %}
                  <input type="radio" name="module_nra_is_marketplace" value="0" checked="checked" />
                  {{ text_no }}
                {% else %}
                  <input type="radio" name="module_nra_is_marketplace" value="0" />
                  {{ text_no }}
                {% endif %}
              </label>
            </div>
          </div>

          {% for key, payment in payments %}
          <div class="form-group">
            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_without_post_payment }}">{{ payment }}</span></label>
            <div class="col-sm-10">
              <label class="checkbox-inline">
                {% for method in payment_methods %}
                  <p>
                    <input type="checkbox" name="module_nra_payment_method[{{ key}}][]" value="{{ method.code }}"
                            {% if(method.code in module_nra_payment_method[key]) %} checked="checked" {% endif %}
                    />
                    {{ method.name }}
                  </p>
                {% endfor %}
              </label>
            </div>
          </div>
          {% endfor %}

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_nra_status" id="input-status" class="form-control">
                {% if module_nra_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-vpos"><span data-toggle="tooltip" title="{{ help_default }}">{{ entry_vpos }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="module_nra_vpos" value="{{ module_nra_vpos }}" placeholder="{{ entry_vpos }}" id="input-vpos" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-delivery_payment"><span data-toggle="tooltip" title="{{ help_default }}">{{ entry_delivery_payment }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="module_nra_delivery_payment" value="{{ module_nra_delivery_payment }}" placeholder="{{ entry_delivery_payment }}" id="input-delivery_payment" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status-completed">{{ entry_status_completed }}</label>
            <div class="col-sm-10">
              <select name="module_nra_status_completed" id="input-status-completed" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == module_nra_status_completed %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status-refund">{{ entry_status_refund }}</label>
            <div class="col-sm-10">
              <select name="module_nra_status_refund" id="input-status-refund" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == module_nra_status_refund %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status-refund-default">{{ entry_status_refund_default }}</label>
            <div class="col-sm-10">
              <select name="module_nra_status_refund_default" id="input-status-refund-default" class="form-control">
                {% for key, refund in refunds %}
                  {% if key == module_nra_status_refund_default %}
                    <option value="{{ key }}" selected="selected">{{ refund }}</option>
                  {% else %}
                    <option value="{{ key }}">{{ refund }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-with-tax">{{ entry_with_tax }}</label>
            <div class="col-sm-10">
              <select name="module_nra_with_tax" id="input-with-tax" class="form-control">
                {% if module_nra_with_tax %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}